*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}


.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right, #e4360f, #072ebd);
    animation: recargar  3s linear infinite alternate,
                brillar 2s linear infinite alternate;
}

.center-loader{
    width: 150px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
}

@keyframes recargar {
    0%{
        transform: rotateY(0deg) rotateZ(0deg); 

    }
    100%{
        transform: rotateY(360deg) rotateZ(360deg)scale(4);
    }
}

@keyframes brillar {
     0%{
       box-shadow:0 0 0px #00f0ff, 0 0 0px #ff00f7;

    }
    100%{
        box-shadow: 0 0 20px #00f0ff, 0 0 40px #ff00f7;
    }
}


