*{
    padding: o;
    margin: o;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    /*le doy altura por que mi eje principal es horizontal y no tendria sentido usar alig item */   
   /*min-height: minimo de alto para la pantalla*/
    min-height: 100vh;
    align-items: center;
    background-color: black;
}

/*TRASFORMACIONES: PERMITEN MOD LA APARIENCIA DE UN ELEMENTO EN EL ESPACIO 2D O 3D
SIN ALTERAR SU FLUJO EN EL DOCUMENTO
rotate(grados) scale(escala se agranda) traslate (traslada en px)*/


.boxin{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: all 3s ease-in;
}

[class]:hover {
    transform: rotate(90deg) scale(1.5);
    background-color: blue;
}
.boxlinear{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: all 3s linear;
}
.boxeaseinaut{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: all 3s ease-in-out;
}
.boxstepend{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.balon1{
    background-color: rgb(242, 9, 56);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 1s linear 
}

.balon2{
    background-color: rgb(9, 242, 75);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.balon1:hover{
    transform: translateY(-300px);
    background-color: orange;
}

.balon2:hover{
    transform: translateY(-300px);
    background-color: rgb(226, 201, 9);
}







/*prueba con imagenes 
img{
    margin: 20px;
    width: 250px;
    height: 200px;
}

.avion img{
    background-color: aquamarine;
    transition: transform 3s;
}

.avion img:hover{
 transform:  scale(1) rotate(180deg);
}

.nieve img{
    background-color: aquamarine;
    transition: transform 3s;
}

.nieve img:hover{
 transform:  scale(1) rotate(180deg);
}

.micro img{
    background-color: aquamarine;
    transition: transform 3s;
}

.micro img:hover{
 transform:  scale(1) rotate(180deg);
}
*/