* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    ;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-card {
    width: 300px;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 20px;

}

img {
    padding: 10px;
    border-radius: 50%;
    background-color: hsl(214, 7%, 19%);
    margin-bottom: 20px;
}

h2 {
    font-weight: 700;
}

p {
    font-size: 12px;
    color: hsl(217, 12%, 63%);
    margin: 20px 0px;
}

form ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: hsl(213, 19%, 18%);
}

.feedback-input {
    background-color: hsl(214, 7%, 19%);
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    transition:all 2s;
}

.feedback-input:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

input:focus {
  background-color: white;
  color: black;
}

input[type="submit"] {
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  margin-top: 20px;
  padding: 8px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background-color: white;
}